.el-dialog {
  min-width: 485px;
  padding: 0 $spacing-larger $spacing-larger;
  &__header {
    padding: $spacing-largest 0 $spacing-normal;
  }
  &__title {
    @include title-primary($color-text);
    font-size: $font-small * 1.25;
  }
  &__headerbtn {
    top: $spacing-normal;
    right: 28px;
  }
  &__close {
    font-weight: bold;
  }
  &__body {
    font-size: 12px;
    padding: 0 !important;
  }
  &__footer {
    padding: $spacing-normal 0 0;
  }
}